/**/.DS_STORE
/**/.idea
/**/.svn
/**/build
/**/node_modules
/vendor
*.map

# Local build files.
backstop_data
lighthouse.html

# Configs from wporg-repo-tools.
.eslintrc.js
eslint.config.js
.prettierrc.js
.stylelintrc
phpcs.xml.dist

# Ignore everything in source...
/source/wp-content/*
/source/wp-content/mu-plugins/*
/source/wp-content/plugins/*
/source/wp-content/themes/*

# ...except the actual source of this project.
!/source/wp-content/plugins
!/source/wp-content/plugins/wporg-ratings
!/source/wp-content/themes
!/source/wp-content/themes/wporg-themes-2024
