/*
 * Styles for the theme previewer page.
 */

:where(body.wporg-theme-preview) {
	.wporg-theme-preview__container {
		height: 100dvh;

		> .wp-block-column {
			display: flex;
			flex-direction: column;
			overflow: auto;

			&.has-charcoal-1-background-color {

				/* Set the link color so that the focus outline is visible. */
				--wp--custom--link--color--text: var(--wp--preset--color--blueberry-3);
			}
		}
	}

	.wporg-theme-preview__download {
		background-color: inherit;
		margin-inline: calc(-1 * var(--wp--preset--spacing--20));
		padding-inline: var(--wp--preset--spacing--20);
	}

	.wporg-theme-style-variations__heading,
	.wp-block-wporg-theme-patterns {
		h2 {
			margin-block-start: 0 !important;
			margin-block-end: var(--wp--preset--spacing--20) !important;
			font-family: var(--wp--custom--heading--typography--font-family);
			font-size: var(--wp--preset--font-size--heading-5);
			line-height: var(--wp--custom--heading--level-5--typography--line-height);
		}
	}

	@media (max-width: 781px) {
		--wporg-theme-preview--sidebar--height: 80px;

		.wporg-theme-preview__container > .wp-block-column:nth-child(1) {
			order: 2;
			position: absolute;
			inset: auto 0 0;
			height: var(--wporg-theme-preview--sidebar--height);
			padding: var(--wp--preset--spacing--10) !important;
			flex-basis: calc(100% - var(--wp--preset--spacing--10) * 2) !important;
			display: flex;
			flex-direction: row;
			gap: var(--wp--preset--spacing--10);
			overflow-x: scroll;
			overflow-y: hidden;
			overscroll-behavior: contain;
			scroll-snap-type: inline mandatory;
			scrollbar-width: none;

			.wporg-theme-preview__back {
				flex-shrink: 0;
			}

			.wp-block-wporg-theme-style-variations-items {
				margin-block-start: 0 !important;
			}

			.wporg-theme-style-variations__grid {
				display: flex;

				.wp-block-wporg-screenshot-preview {
					min-width: unset;
				}

				.wporg-screenshot-preview__container {
					height: calc(var(--wporg-theme-preview--sidebar--height) - var(--wp--preset--spacing--10) * 2);
				}
			}

			.wporg-theme-title-byline,
			.wp-block-post-excerpt,
			.wporg-theme-style-variations__heading,
			.wp-block-wporg-theme-patterns,
			.wporg-theme-preview__download {
				display: none;
			}
		}

		.wporg-theme-preview__container > .wp-block-column:nth-child(2) {
			order: 1;
			height: calc(100dvh - var(--wporg-theme-preview--sidebar--height));

			.wp-block-wporg-theme-previewer-iframe iframe {
				padding-bottom: 0;
			}

			.wporg-theme-previewer__controls {
				display: none;
			}
		}
	}
}
