/*
 * Styles for the theme previewer page.
 */

:where(body.wporg-theme-preview) {
	.wporg-theme-preview__container {
		height: 100vh;

		> .wp-block-column {
			display: flex;
			flex-direction: column;
			overflow: auto;

			&.has-charcoal-1-background-color {

				/* Set the link color so that the focus outline is visible. */
				--wp--custom--link--color--text: var(--wp--preset--color--blueberry-3);
			}
		}
	}

	.wporg-theme-preview__download {
		top: auto;
		bottom: 0;
		background-color: inherit;
		margin-block-start: auto;
		margin-inline: calc(-1 * var(--wp--preset--spacing--20));
		padding-inline: var(--wp--preset--spacing--20);
	}

	.wporg-theme-patterns__grid {
		grid-template-columns: repeat(2, 1fr);
		gap: var(--wp--preset--spacing--10);
	}

	.wp-block-wporg-screenshot-preview {
		border-color: var(--wp--preset--color--white-opacity-15);

		&:where(.is-linked-image):hover {
			border-color: var(--wp--preset--color--blueberry-2);
			border-width: 1.5px;
		}

		&:where(.is-linked-image):focus-within {
			border-color: var(--wp--preset--color--blueberry-1);
			border-width: 1.5px;
			outline-color: var(--wp--preset--color--white);
			outline-offset: 0;
		}
	}
}
