.wp-block-wporg-theme-upload-form {
	margin-top: var(--wp--preset--spacing--40);

	.upload-checkboxes {
		label {
			display: grid;
			grid-template-columns: auto 1fr;
			align-items: baseline;
			gap: 0.5em;
			margin-block-end: 0.5em;
		}

		input {
			position: relative;
			top: 1px;
			margin: 0;
		}

		span {
			display: block;
			line-height: var(--wp--custom--body--short-text--typography--line-height);
		}
	}

	.wp-block-wporg-notice {
		ul {
			margin: 0;
		}

		&.is-info-notice ul {
			padding: 0;
			list-style: none;
		}
	}

	.tc-lead {
		font-weight: 600;
	}

	.tc-result {
		padding-inline-start: 0;
		list-style: none;
		font-size: var(--wp--preset--font-size--small);

		li {
			margin-block-start: calc(var(--wp--preset--spacing--10) / 2);
			padding: var(--wp--preset--spacing--10);
			border-inline-start: 3px solid currentColor;

			> :last-child {
				margin-block-end: 0;
			}
		}

		li:has(.tc-required),
		li:has(.tc-warning) {
			border-color: var(--wp--preset--color--pomegrade-1);
			background: var(--wp--preset--color--pomegrade-3);
		}

		li:has(.tc-recommended),
		li:has(.tc-info) {
			border-color: var(--wp--preset--color--light-grey-1);
			background: var(--wp--preset--color--light-grey-2);
		}

		// Don't add space between groups of the same level.
		li:has(.tc-required) + li:has(.tc-required),
		li:has(.tc-warning) + li:has(.tc-warning),
		li:has(.tc-recommended) + li:has(.tc-recommended),
		li:has(.tc-info) + li:has(.tc-info) {
			margin-block-start: 0;
		}
	}
}
