<!-- wp:group {"tagName":"main","layout":{"type":"default"},"className":"entry-content","style":{"spacing":{"blockGap":"0px"}}} -->
<main class="wp-block-group entry-content">
	<!-- wp:wporg/theme-previewer -->
		<!-- wp:buttons {"className":"wporg-theme-preview__back"} -->
		<div class="wp-block-buttons wporg-theme-preview__back">
			<!-- wp:button {"className":"is-style-outline-on-dark is-small","metadata":{"bindings":{"url":{"source":"wporg-themes/meta","args":{"key":"preview-back-url"}},"text":{"source":"wporg-themes/meta","args":{"key":"preview-back-text"}}}}} -->
			<div class="wp-block-button is-style-outline-on-dark is-small"><a class="wp-block-button__link wp-element-button">← Back</a></div>
			<!-- /wp:button -->
		</div>
		<!-- /wp:buttons -->
	
		<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
		<div class="wp-block-group">
			<!-- wp:post-title {"level":1,"fontSize":"heading-5"} /-->
		
			<!-- wp:post-author-name {"isLink":true} /-->
		</div>
		<!-- /wp:group -->
	
		<!-- wp:post-excerpt {"fontSize":"small"} /-->
	
		<!-- wp:wporg/theme-style-variations-items /-->

		<!-- wp:wporg/theme-patterns {"showAll":true} /-->

		<!-- wp:spacer {"height":"0"} -->
		<div style="height:0" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"},"spacing":{"padding":{"bottom":"var:preset|spacing|20"}},"border":{"top":{"color":"var:preset|color|white-opacity-15","style":"solid","width":"1px"},"right":{},"bottom":{},"left":{}}},"className":"wporg-theme-preview__download","layout":{"type":"constrained"}} -->
		<div class="wp-block-group wporg-theme-preview__download" style="border-top-color:var(--wp--preset--color--white-opacity-15);border-top-style:solid;border-top-width:1px;padding-bottom:var(--wp--preset--spacing--20)">
			<!-- wp:spacer {"height":"0"} -->
			<div style="height:0" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->
			
			<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
			<div class="wp-block-buttons">
				<!-- wp:button {"width":100,"metadata":{"bindings":{"url":{"source":"wporg-themes/meta","args":{"key":"download-url"}},"text":{"source":"wporg-themes/meta","args":{"key":"download-text"}}}},"className":"is-style-fill-on-dark"} -->
				<div class="wp-block-button has-custom-width wp-block-button__width-100 is-style-fill-on-dark"><a class="wp-block-button__link wp-element-button">Download</a></div>
				<!-- /wp:button -->
			</div>
			<!-- /wp:buttons -->
	
			<!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|light-grey-1"}}},"spacing":{"margin":{"top":"var:preset|spacing|10"}}},"textColor":"light-grey-1","className":"is-style-short-text","fontSize":"extra-small","metadata":{"bindings":{"content":{"source":"wporg-themes/meta","args":{"key":"zip-name"}}}}} -->
			<p class="has-text-align-center is-style-short-text has-light-grey-1-color has-text-color has-link-color has-extra-small-font-size" style="margin-top:var(--wp--preset--spacing--10)"></p>
			<!-- /wp:paragraph -->
		</div>
		<!-- /wp:group -->
	<!-- /wp:wporg/theme-previewer -->
</main>
<!-- /wp:group -->
